<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>개인정보</h2>
    <h3>아이디 : <%= info.id %></h3>
    <h3>이름 : <%= info["name"] %></h3>
    <h3>주소 : <%= info.addr %></h3>
    <a href="/member/list">목록 이동</a>
</body>
</html>